@import url('../node_modules/font-awesome/css/font-awesome.min.css');

.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

.active {
    font-weight: bold;
    background-color: darkblue;
}

.NavLink-left {
    float: left;
}

.NavLink-right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavLink-right:hover {
    background-color: darkblue;
    text-decoration: underline;
}